
.nav ul li{
    list-style: none;
    margin-right: 40px;
    color: gray;
}

.nav ul li:first-child {
    margin-right: 200px;
}
.nav nav {
    border-bottom: solid gray 1px;
}

.bucket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-bottom: solid gray 1px;
}
.product img{
    height: 30px;
    width: 30px;
    margin-right: 30px;
    margin-left: 55px;
}

.name{
    text-align: center;
    margin: 0px 60px;
}

.count input{
    border:solid 1px #C4C4C4;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.count{
    height: 40px;
    width: 100px;
    margin: 0 10px;
}

.comment{
    height: 40px;
    width: 100px;
    margin: 0 40px;
}

.comment input{
    border:solid 1px #C4C4C4;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.cost{
    margin: 0 10px;
    font-size: 20px;
    color: gray;
}

.price{
    margin: 0 25px;
    font-size: 20px;
    color: gray;
}

.product button{
    width: 50px;
    height: 50px;
    background-color: white;
}

.product button img{
    margin: 0;
    margin-top: 4px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer .total{
    display: flex;
    flex-direction: row;
}
.total div{
    color: gray;
    margin-right: 73px;
    font-size: 20px;
}

.buttons{
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons button{
    width: 120px;
    background-color: cornflowerblue;
    font-size: 17px;
    font-weight: bold;
}

.buttons button:first-child{
    background-color: cornflowerblue;
}

.buttons button:last-child{
    background-color: green;
}
